@{
    ViewData["Title"] = "Pagina de inicio";
}

<div class="container">
    <h1>Bienvenido a InventarioApp</h1>
    <p>La mejor solución para gestionar tu inventario de manera eficiente.</p>

    <h2>Características Destacadas:</h2>
    <ul>
        <li>Gestión de inventario fácil y eficaz.</li>
        <li>Seguimiento detallado de productos y existencias.</li>
        <li>Manejo sencillo de permisos de usuarios.</li>
    </ul>

    <p>¡Comienza a utilizar nuestra aplicación hoy mismo y simplifica la gestión de tu inventario!</p>

</div>
