@{
    ViewData["Title"] = "Politica de privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Fecha de última actualización: 10/272023</p>

<h2>Introducción</h2>
<p>Bienvenido a InventarioApp ("nosotros", "nuestro" o "la aplicación"). En InventarioApp, respetamos y valoramos su privacidad. Esta política de privacidad describe cómo recopilamos, utilizamos y compartimos información personal cuando utiliza nuestra aplicación.</p>

<h2>Información que Recopilamos</h2>
<h3>Información Personal</h3>
<p>Cuando utiliza [Nombre de Tu Aplicación], podemos recopilar la siguiente información personal:</p>
<ul>
    <li>Nombre</li>
    <li>Dirección de correo electrónico</li>
    <li>Información de contacto</li>
    <li>Información de facturación</li>
</ul>

<h3>Información de Inventario</h3>
<p>Nuestra aplicación de manejo de inventario recopila información relacionada con sus productos, existencias, compras y ventas. Esto puede incluir:</p>
<ul>
    <li>Detalles del producto</li>
    <li>Cantidades de existencias</li>
    <li>Datos de ventas y compras</li>
    <li>Información de proveedores</li>
</ul>

<h2>Cómo Utilizamos su Información</h2>
<p>Utilizamos la información recopilada para los siguientes propósitos:</p>
<ul>
    <li>Gestionar y mantener su inventario.</li>
    <li>Facilitar la realización de pedidos y ventas.</li>
    <li>Comunicarnos con usted sobre su cuenta y transacciones.</li>
    <li>Mejorar nuestros servicios y productos.</li>
</ul>

<h2>Compartir su Información</h2>
<p>No compartimos su información personal con terceros a menos que sea necesario para proporcionar nuestros servicios o cumplir con las leyes aplicables.</p>

<h2>Seguridad</h2>
<p>Tomamos medidas razonables para proteger la información que recopilamos y almacenamos. Sin embargo, tenga en cuenta que ninguna transmisión de datos a través de Internet es 100% segura y no podemos garantizar la seguridad de la información.</p>

<h2>Cambios en esta Política</h2>
<p>Podemos actualizar esta política de privacidad en cualquier momento para reflejar cambios en nuestras prácticas de recopilación y uso de información. La fecha de la última actualización se indicará al comienzo de la política.</p>

<h2>Contacto</h2>
<p>Si tiene alguna pregunta sobre nuestra política de privacidad, póngase en contacto con nosotros a través de su administrador.</p>

